<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>HTML5 Worker Test</title>
    <meta name="description" content="What APIs are supported in Web Workers and Service Workers?" />
    <link rel="stylesheet" href="style.css" />

</head>
<body>

<table>
    <thead>
    <tr>
      {{#each browsers}}
        <th>{{name}}</th>
      {{/each}}
    </tr>
    </thead>
    <tbody>
      {{#each workerTypes}}
        <tr><td>{{name}}</td></tr>
        {{#each apis}}
          <tr>
              <th>{{@key}}</th>
              {{#each this}}
                <td>{{#if this}}Y{{else}}N{{/if}}</td>
              {{/each}}
          </tr>
        {{/each}}

      {{/each}}
    </tbody>
</table>

</body>
</html>